version: '3.8'
services:
    app:
        user: '1100'
        labels:
            traefik.enable: true
            traefik.http.routers.wp01.rule: Host(`staging.candidate-training.frc.org`)
            traefik.docker.network: traefik_default
        environment:
            - BRANCH_NAME
        networks:
            - traefik_default
            - default

networks:
    traefik_default:
        external: true