version: '3.8'
services:
    app:
        image: bitnami/wordpress-nginx
        env_file: ".env.${BRANCH_NAME_SLUG}"
        user: '0'
#        user: '1100' # use this if attaching to an nfs share
        deploy:
#            replicas: 1
            labels:
                - 'traefik.enable=true'
                - 'traefik.http.routers.candidatetraining-staging.rule=Host(`candidate-training-staging.frcaction.org`)'
                - 'traefik.docker.network=traefik'
#            placement:
#                constraints:
#                    - node.role == worker
        networks:
            - traefik
            - default

    mysql:
        env_file: ".env.${BRANCH_NAME_SLUG}"

networks:
    default:
        name: staging_candidate-training_default
    traefik:
        external: true